@import "reset.css";

@font-face {
  font-family: vazirNormal;
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff"),
    url("../fonts/vazir.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
body,
input,
button {
  font-family: vazirNormal;
}
body {
  direction: rtl;
}
* {
  box-sizing: border-box;
}
.conteiner {
  width: 1100px;
  margin: auto;
}
.clearFix {
  clear: both;
}

/* Header */
#header {
  background: linear-gradient(
    195deg,
    rgba(13, 71, 161, 1) 0%,
    rgba(30, 136, 229, 1) 100%
  );
  width: 100%;
  height: 700px;
}

/* Logo */
#header .logo {
  float: right;
  padding-top: 10px;
}
#header .logo img {
  width: 60px;
}

/* Navigation */
#nav {
  float: left;
  padding-top: 20px;
}
#nav ul li {
  display: inline-block;
}
#nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: 0.25s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#nav ul li a:hover {
  border-bottom: 2px solid #fff;
  transition: 0.25s;
}
#nav ul li a svg {
  margin-left: 8px;
  font-size: 23px;
  vertical-align: -6px;
}
#nav ul li a .fa-store {
  font-size: 20px;
}

/* Subscribe */
#subscribe {
  text-align: center;
  padding-top: 50px;
}
#subscribe .title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}
#subscribe .subtitle {
  color: #fff;
  font-size: 25px;
  padding: 40px 0 40px 0;
}
#subscribe .form .email {
  padding: 15px;
  width: 370px;
  border: none;
  border-radius: 5px;
}
#subscribe .form .btn {
  padding: 15px 35px;
  color: #fff;
  background-color: #212326;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
#subscribe .form .btn:hover {
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 25%);
  cursor: pointer;
}
#subscribe .form .btn svg {
  margin-right: 6px;
  font-size: 16px;
  vertical-align: -5px;
}
#subscribe .no-spam {
  color: #fff;
  padding: 40px;
}
#subscribe .img-header {
  margin-top: 20px;
}

/* Why Us */
#whyus {
  margin-top: 260px;
  text-align: center;
}
#whyus .item {
  display: inline-block;
  width: 30%;
  height: auto;
  padding: 20px;
  margin: 20px 15px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
  border-radius: 20px;
  text-align: right;
}
#whyus .item:hover {
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
}
#whyus .item .logo svg {
  font-size: 50px;
  color: rgb(13, 71, 161);
}
#whyus .item .title {
  font-size: 23px;
  padding: 13px 0;
  font-weight: bold;
}
#whyus .item .desc {
  line-height: 25px;
}

/* Customers */
#customers {
  margin-top: 40px;
  background-image: url("../images/ny.jpeg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  text-align: center;
}
#customers .title {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 25px 0;
}
#customers .title:after {
  content: " :.";
}
#customers .title::before {
  content: ".: ";
}
#customers ul li {
  margin-right: 80px;
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
}
#customers ul li img {
  width: 150px;
}
#customers ul li img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Posts */
#posts {
  margin-top: 20px;
}
#posts .blog-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 25px 0 15px 0;
}
#posts .post-item {
  display: inline-block;
  width: 30%;
  height: 300px;
  margin: 20px 15px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
  position: relative;
}
#posts .post-item:hover {
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 25%);
}
#posts .post-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
}
#posts .post-item .title {
  font-size: 20px;
  padding: 10px 5px 10px;
}
#posts .post-item .title a {
  text-decoration: none;
  color: #1c1c1c;
}
#posts .post-item .title a:hover {
  color: #404040;
}
#posts .post-item .data {
  font-size: 14px;
}
#posts .post-item .date {
  color: #000;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#posts .post-item .continue {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #404040;
}
#posts .post-item .continue:hover {
  color: #2b2b2b;
}

/* Footer */
#footer{
  width: 100%;
  margin-top: 30px;
  background-color: #e0e0e0;
}
#footer .socials{
  padding: 15px 0;
  text-align: center;
}
#footer .socials a{
  color: #3d3d3d;
}
#footer .socials a:hover{
  color: #262626;
}
#footer .socials li{
  display: inline-block;
  margin-right: 10px;
}
#footer .socials li svg{
  font-size: 35px;
}
#footer .copyright{
  background-color: #424242;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}